{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="header-careers">
    <div class="banner">
            <h1 style="text-align: center;font-size:80px; color:aliceblue;font-weight:400">who we are</h1>
    </div>
</header>
<div class="container-fluid" style="background-color: rgb(255, 255, 255);">
    <div class="content-main">
      <div class="container">
        <div class="box">
          <div class="row">
            <div class="col-sm-6">
              <div class="head-box">
                <h3 style="color: rgb(2, 1, 70);">Welcome to Posedge Technologies</h3>
              </div>
                <div class="text-box">
                  <p class="textbody">
                 Posedge is into Product Engineering and Services to offer reliable concept to final product solutions and services. We have wide and varied experience
      
                    across the entire development cycle and offer a spectrum of services from specification to volume production. Our customer commitment focuses on the technology trends, challenges and also time-to-market and return on investment. Over the years of Industry experience the team has built competencies in
                    
                    specific industry domains acquiring technical and managerial expertise in areas of technology ile Telecom, Networking, Semiconductor Defense Aerospace Industrial and Automotive.
                  </p>
                </div>
            </div>
            <div class="col-sm-6">
              <img src="{%static 'images/soclog.jpg'%}" alt="" srcset="" height="400vh;" width="600vh">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <img src="{%static 'images/vision.png'%}" alt="" srcset="" height="400vh;" width="600vh">

            </div>
            <div class="col-sm-6">
              <div class="head-box">
                <h3 style="color: rgb(5, 38, 65);">Vision</h3>
              </div>
                <div class="text-box">
                  <p style="textbody">
                    To be a leading provider of technology and to offer cost-effective and toolproof solutions to its customers in this dynamically changing market and technology
                  </p>
                </div>
            </div>
          </div>
             
              <div class="row">
                
                <div class="col-lg-6">
                  <div class="head-box">
                    <h3 style="color: rgb(5, 40, 65);">Expertise</h3>
                  </div>
                    <div class="text-box">
                      <p style="textbody">
                        
        The team encompasses proven talent from prestigious institutions in India and
        
        international universities. They hold an
        
        average experience of ten years
        
        working in top semiconductor
        
        companies at various capacities. This team is well known and proven for their
        
        abs lines to deliver
                      </p>
                    </div>
                </div>
                <div class="col-lg-6">
                  <img src="{%static 'images/expertise.png'%}" alt="" srcset="" height="400vh;" width="600vh">

                </div>
              </div>
                      
                    </p>
                  </div>
        </div>
    </div>
</div>
    
</div>
<Section class="services">

</Section>

<br>
<br>
<br>

<style>
    .banner{    
    position: relative;
    background: url('/static/images/b1.jpg');
    max-height: 50vh;
    min-height: 50vh;
    background-size:cover ;
    background-position: center;
    padding: 150px 0 250px;
    min-width: 100vh;
}
</style>
{% endblock %}