{% extends 'base.html' %}
{% load static  %}

{% block content %}
<header class="header-careers">
    <div class="banner">
            <h1 style="text-align: center;font-size:80px; color:aliceblue;font-weight:400">Our Services</h1>
    </div>
</header>
<style>
    .banner{    
    position: relative;
    background: url('/static/images/services.jpg');
    max-height: 50vh;
    min-height: 50vh;
    background-size:cover ;
    background-position: center;
    padding: 150px 0 250px;
    min-width: 100vh;
}
</style>
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-4">
            
        </div>
        <div class="col-lg-8">
            <p class="margin-clear">Our design team experienced in developing various products have strong problem-solving skills from developing micro-architecture for given specifications and solving issues till tape-outs.</p>
           <br>
           <p>Our Engineering team expertise in various stages of the design flow, Such as:</p>
           <ul>
            <li>Micro-Architecture development for given specifications</li>
            <li>SoC Design / ARM-based SoC architecture designs</li>
            <li>RTL Integration & IP subsystem development</li>
            <li>Full-Chip / SoC Level Design with Verilog, VHDL, System Verilog</li>
            <li>Migration from FPGA to ASIC</li>
            <li>Lint, CDC Checks and writing waivers</li>
            <li>Integration of digital and analog blocks (Like SERDES PMA + PCS or DDR + Phy etc.,)</li>
            <li>Synthesis, STA Constraints for both ASIC and FPGA</li>
            <li>Logic equivalency and formality checks</li>
            <li>Hands-on experience on Various Industrial EDA tools</li>
            <li>Optimization of Power, Area and timing tradeoff</li>
            <li>FPGA Prototyping on Xilinx / Altera FPGA Boards</li>
        </ul>
        <p>Our Designers having experience in:</p>
        <ul>
          <li>High-Speed protocol Interfaces like:
            <ul>
              <li>PCIe Gen1,2,3,4,5 With PIPE / SERDES</li>
              <li>Ethernet 100G, 40G, 10G, 1G</li>
              <li>USB 3.0, USB 2.0 host and device controllers</li>
              <li>AXI, AHB</li>
            </ul>
          </li>
          <li>Other Interfaces like APB / SPI / UART /I2C</li>
          <li>Multi Clock / Multi-Frequency Domain Designs</li>
          <li>Mixed-signal IPs Integration such as:
            <ul>
              <li>ADC/DAC</li>
              <li>PLLs</li>
              <li>SERDES PMA PCS</li>
              <li>DDR PHY</li>
              <li>DVI / HDMI</li>
            </ul>
          </li>
          <li>DDR Controllers</li>
          <li>Integration of CPU Cores like ARM Cortex</li>
          <li>UDP/IP, TCP/IP</li>
          <li>Image Processing</li>
        </ul>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="container" style="padding-top: 12px;padding-bottom:12px">
        <div class="row" >
           <div class="col-lg-8" style="padding: 12px;">
            <div class="services-details">
                <h3 class="title-services">
                    SOC VERIFICATION SERVICES
                </h3>
                <p class="margin-clear">Our Verification team experienced in various products at SOC / IP / Cluster / Subsystem / Block level, having experience in developing directed / Random test cases with strong debugging skills.</p>
                <br>
                <ul>
                  <li>Our verification team expertise in:
                    <ul>
                      <li>Full-Chip / System/SoC/IP/Cluster/Subsystem/Block level</li>
                      <li>Developing verification architecture from scratch with functional coverage & assertions</li>
                      <li>VIP Development / Third party VIP's Integration and verification</li>
                      <li>ARM-Based CPU verification</li>
                      <li>Hardware – Software CoSimulation</li>
                      <li>Power-aware verification with UPF simulation</li>
                      <li>Converting legacy test benches to SV / UVM</li>
                      <li>Gate level Simulation / Pre & Post netlist SDF Simulation</li>
                    </ul>
                  </li>
             </ul>
             <p>Our Verification Engineers Having experience in verifying:</p>
             <ul>
               <li>High-Speed protocol Interfaces with VIPs
                 <ul>
                   <li>PCIe Gen1,2,3,4,5 With PIPE / SERDES</li>
                   <li>Ethernet 100G, 40G, 10G, 1G</li>
                   <li>USB 3.0, USB 2.0 host and device controllers</li>
                   <li>AXI, AHB</li>
                 </ul>
               </li>
               <li>Other Interfaces like APB / SPI / UART /I2C</li>
               <li>DDR Controllers</li>
               <li>ARM SoC-based verification</li>
               <li>Audio Video Wireless protocols</li>
               <li>Formal verification</li>
               <li>Creating verification environment using UVM / OVM / VMM / SystemC /Specman / Vera</li>
               <li>Constrained Random Verification using golden reference models</li>
               <li>Modeling of analog and mixed-signal blocks using Verilog-AMS</li>
               <li>Porting the existing environment and verifying the use-case </li>
               <li>Verification closure including corner cases</li>
               <li>Coverage closure by using directed and randomized test cases</li>
               <li>Regression closure and automation handling in a platform like Jenkins</li>
             </ul>
                  
          
                  <style>
                    .text1 ,.text2{
                        display: none;
                    }
                </style>        
                 
            </div>
           </div>
           <div class="col-lg-4">
               <img src="{% static 'images/services1.jpeg' %}" alt="" height="350px" width="100%" srcset="" style="padding-left: 45px;">
           </div>
        </div>
       
    </div>
    </div>
{%endblock%}
